@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/fonts/AirbnbCerealBook.ttf');
  font-weight: 400;
}